<!DOCTYPE HTML>
<html lang="en" class="govuk-template" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{ layout/main-layout :: layout(~{::title},~{::main})}">
<title>CWA Bulk Upload - Home</title>
<main class="govuk-main-wrapper" id="main-content">

    <div class="govuk-width-container">
        <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div th:if="${error != null}" class="govuk-error-summary" data-module="govuk-error-summary">
                        <div role="alert">
                            <h2 class="govuk-error-summary__title">
                                There is a problem
                            </h2>
                            <div class="govuk-error-summary__body">
                                <ul class="govuk-list govuk-error-summary__list">
                                    <li>
                                        <a th:text="${error}" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <h1 class="govuk-heading-xl">CWA Bulk Upload</h1>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="provider">
                            Select provider
                        </label>
                        <select class="govuk-select" id="provider" name="provider">
                            <option value="">select option</option>
                            <option th:each="provider : ${providers}" th:value="${provider.vendorId}" th:text="${provider.vendorName}"></option>
                        </select>
                    </div>
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="file-upload">Select a file to upload</label>
                        <input class="govuk-file-upload" id="file-upload" name="fileUpload" type="file"  accept=".csv,.xml,.txt">
                    </div>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Upload</button>
                </div>
            </div>
        </form>
    </div>
</main>
</html>
